.flex {
  display: flex;
}
.input-pc {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  background: #fff;
}
.input-tablet-mobile {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #EE2E24;
  border-radius: 20px;
  background: #fff;
}
.circle-mobile {
  position: absolute;
  top: 9px;
  right: -7px;
  background-color: #fff;
  border-radius: 26px;
  width: 14px;
  height: 14px;
}
.line-mobile {
  height: 1px;
  width: 90%;
  background-color: #F99B2A;
  margin: auto ;
}
.btn-primary {
  background-color: #fff;
  font-size: 12px;
  padding: 10px 30px;
  color: #EE2E24;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #EE2E24;
}
.btn-primary:hover {
  background-color: #EE2E24;
  color: #fff;
}
.btn-primary-pc {
  background-color: #fff;
  font-size: 14px;
  padding: 10px 30px;
  color: #EE2E24;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #EE2E24;
}
.btn-primary-pc:hover {
  background-color: #EE2E24;
  color: #fff;
}
.order {
  padding: 8px 15px;
  background-color: #F99B2A;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 20px;
  top: 0;
  right: 0;
  position: absolute;
}
.line-bottom {
  display: inline-block;
  border-bottom: 3px solid #EE2E24;
  padding-bottom: 6px;
  text-transform: uppercase;
}
.line-bottom-logo {
  display: inline-block;
  border-bottom: 4px solid #F99B2A;
  padding-bottom: 6px;
  text-transform: uppercase;
}
.contact {
  position: fixed;
  z-index: 100;
  color: #ffffff;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 70px;
}
.icon-primary {
  width: 40px;
  height: 40px;
  color: #fff;
  background: #F99B2A;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.icon-primary:hover {
  background-color: #F99B2A;
  color: #fff;
}
@media only screen and (min-width: 1025px) {
  .wrapper {
    max-width: 1440px;
    margin: auto;
  }
  .wrapper header {
    display: none;
  }
  .wrapper .header__top {
    display: none;
  }
  .wrapper .header__menu-bars {
    display: none ;
  }
  .wrapper .header__menu-pc {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EE2E24;
    height: 65px;
  }
  .wrapper .header__menu-pc .header__menu-logo {
    transform: translate(12px, 8.5px);
  }
  .wrapper .menu-main {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    transform: translateY(4px);
    gap: 20px;
    padding: 20px 20px 20px 20px;
  }
  .wrapper .menu-main a {
    text-align: center;
  }
  .wrapper .menu-main a span {
    display: block;
    font-size: 12px;
    color: #333333;
    font-weight: 500;
  }
  .wrapper .menu-main a:nth-child(1) span,
  .wrapper .menu-main a:nth-child(4) span {
    margin-top: 6px;
  }
  .wrapper .menu-main input {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    background: #fff;
    width: 240px;
  }
  .wrapper .menu-main .language__vi {
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #EE2E24;
  }
  .wrapper .menu-main .language__en {
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #333333;
  }
  .wrapper .menu-main .line-language {
    height: 15px;
    width: 1px;
    display: inline-block;
    background: #9a9a9c;
  }
  .page {
    margin-top: 40px;
  }
  .page .page__list li {
    width: 116px;
    text-align: center;
  }
  .page .page__list li p {
    font-size: 14px;
  }
  .product h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .product .product__slider .swiper-wrapper .swiper-slide img {
    width: 300px;
  }
  .product .product__btn a {
    background-color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    color: #EE2E24;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid #EE2E24;
  }
  .product .product__btn a:hover {
    background-color: #EE2E24;
    color: #fff;
  }
  .product .product-hot {
    display: none;
  }
  .product .product__title-pc {
    display: none;
  }
  .product .product__btn-pc {
    display: none;
  }
  .product .line-pc {
    display: none;
  }
  .event .event__slider {
    width: 80%;
    margin: auto;
  }
  .event .event__list {
    margin-top: 40px;
  }
  .event .event__btn a {
    background-color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    color: #EE2E24;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid #EE2E24;
  }
  .event .event__btn a:hover {
    background-color: #EE2E24;
    color: #fff;
  }
  .service {
    padding: 40px 243px;
  }
  .service .service__slider {
    width: 80%;
    margin: auto;
  }
  .service .line {
    display: none;
  }
  .service .service__btn a {
    background-color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    color: #EE2E24;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid #EE2E24;
  }
  .service .service__btn a:hover {
    background-color: #EE2E24;
    color: #fff;
  }
  .service .service__list .service__list-item {
    width: 80px;
    height: 80px;
  }
  .service .service__list p {
    font-size: 14px;
  }
  .footer {
    margin-top: 112px !important;
  }
  .footer .footer__login {
    width: 76%;
  }
  .footer .footer__login ul:nth-child(1) {
    display: none;
  }
  .footer .footer__login ul:nth-child(2) {
    display: none;
  }
  .footer .footer__login .footer__login-pc {
    display: block;
  }
  .footer .footer__login .footer__login-pc ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer__login .footer__login-pc ul li:first-child img {
    width: 100%;
  }
  .footer .footer__login .footer__login-pc ul li:nth-child(3) from {
    margin: 0;
    gap: 20px;
  }
  .footer .footer__login .footer__login-pc ul li:nth-child(3) from input {
    width: 250px;
  }
  .footer .footer__login .footer__login-pc ul li:nth-child(2) h6 {
    text-transform: uppercase;
    color: #EE2E24;
    font-size: 18px;
  }
  .footer .footer__login .footer__login-pc ul span {
    height: 60px;
    width: 1px;
    margin: 0 10px;
    display: inline-block;
    background: #E5E5E5;
  }
  .footer .footer__login .footer__login-pc ul li:last-child a {
    padding-right: 10px;
  }
  .footer .footer__top {
    margin: 0 100px;
    padding: 0;
    border-bottom: 1px solid #9a9a9c;
  }
  .footer .footer__top h3 i {
    display: inline;
  }
  .footer .footer__top .footer__title {
    font-weight: 700;
  }
  .footer .footer__top .footer__title i {
    font-weight: 500;
  }
  .footer .footer__top .footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer__top .footer__info .footer__info-top p {
    font-size: 14px;
  }
  .footer .footer_end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0 100px;
  }
  .footer .footer_end .footer__bottom {
    padding: 0;
  }
  .footer .footer__license {
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .footer {
    max-width: 1440px;
    margin: auto;
  }
}
.header__top {
  width: 100%;
  height: 41px;
  background-color: #EE2E24;
}
.header {
  background-color: #EE2E24;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 12px;
  transform: translateY(-2px);
}
.header__user__shortcut {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.header__from {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: hidden;
  background-color: white;
  border-radius: 20px;
}
.header__from input {
  border: 0 !important;
  padding-left: 22px;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #EE2E24;
  border-radius: 20px;
  background: #fff;
}
.header__from a {
  margin-right: 15px;
  padding-left: 15px;
}
.header__cart {
  position: relative;
}
.header__cart .circle {
  position: absolute;
  top: 9px;
  right: -7px;
  background-color: #fff;
  border-radius: 26px;
  width: 14px;
  height: 14px;
}
.header__bottom {
  background-color: #F99B2A;
  height: 9px;
}
.banner {
  position: relative;
}
.banner img {
  width: 100%;
}
.banner span {
  position: absolute;
  bottom: 10px;
  right: 5px;
  padding: 4px 12px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  font-weight: 600;
}
.banner__list img {
  width: 100%;
}
.header__menu-bars {
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 0 5px;
  height: 60px;
  text-align: center;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000000000000000000;
}
.header__menu-bars a span {
  font-size: 10px;
  display: block;
  font-weight: 600;
}
.header__menu-bars .bars-user {
  background: #EE2E24;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  margin: unset;
  bottom: 10px;
}
.header__menu-bars .bars-user img {
  margin: 11px auto 6px;
}
.header__menu-bars .bars-user span {
  color: #fff !important;
}
.contact {
  margin: 0 20px;
}
.contact ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact ul li:first-child a {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  background: #ffffff;
  padding: 2px 2px;
  display: block;
}
.contact ul li:first-child a img {
  width: 100%;
  border-radius: 5px;
}
.contact ul li:first-child a span {
  color: #ee2e24;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 700;
  display: block;
  font-size: 11px;
}
.contact ul li:last-child {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
.contact ul li:last-child i {
  width: 40px;
  height: 40px;
  color: #fff;
  background: #F99B2A;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.contact ul li:last-child i:hover {
  background-color: #F99B2A;
  color: #fff;
}
.header__menu-pc {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: 12px;
}
ul {
  list-style: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  text-decoration: none;
}
.align-items {
  align-items: center ;
}
ul {
  margin: 0 !important;
}
li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none;
}
p {
  font-weight: 500;
}
h1,
h2,
h3 {
  font-weight: 600;
}
.page {
  margin-top: 20px;
}
.page__list {
  gap: 19px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page__list li {
  width: 79px;
}
.page__list li p {
  font-size: 10px;
  text-align: center;
  font-weight: 500;
}
.page__list li:first-child p {
  color: #EE2E24;
  font-weight: 600;
}
.page__list li:last-child p {
  color: #EE2E24;
  font-weight: 600;
}
.product {
  margin-top: 30px;
  text-align: center;
}
.product h3 {
  display: inline-block;
  border-bottom: 3px solid #EE2E24;
  padding-bottom: 6px;
  text-transform: uppercase;
}
.line {
  height: 1px;
  width: 90%;
  background-color: #F99B2A;
  margin: auto ;
}
.product-new {
  margin-top: 32px;
}
.product__list-number h6 {
  font-weight: 600;
  font-size: 12px;
}
.product__list-number p {
  font-weight: 600;
  font-size: 12px;
  color: #EE2E24;
}
.product__list-new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #EE2E24;
  color: #fff;
  border: 1px solid #EE2E24;
  position: absolute;
  border-radius: 50%;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  top: 0;
  right: 0;
}
.product__list-order {
  padding: 8px 15px;
  background-color: #F99B2A;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 20px;
  top: 0;
  right: 0;
  position: absolute;
}
.product__list-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #EE2E24;
  border: 1px solid #EE2E24;
  position: absolute;
  border-radius: 50%;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  top: 0;
  right: 0;
}
.product__btn {
  margin-top: 27px;
  margin-bottom: 50px;
}
.product__btn a {
  background-color: #fff;
  font-size: 12px;
  padding: 10px 30px;
  color: #EE2E24;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #EE2E24;
}
.product__btn a:hover {
  background-color: #EE2E24;
  color: #fff;
}
.product-hot {
  margin-top: 25px;
}
.product__bottom img {
  width: 100%;
}
.swiper-slide img {
  width: 100%;
}
.service {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #F4F4F4;
}
.service h3 {
  display: inline-block;
  border-bottom: 3px solid #EE2E24;
  padding-bottom: 6px;
  text-transform: uppercase;
}
.service__list {
  margin-top: 15px;
}
.service__block {
  margin-top: 24px;
  margin-bottom: 20px;
}
.service__list .service__list-item {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.service__list .service__list-item img {
  width: initial !important;
}
.service__list p {
  margin-top: 10px;
  font-size: 10px;
  font-weight: 500;
}
.service__btn a {
  background-color: #fff;
  font-size: 12px;
  padding: 10px 30px;
  color: #EE2E24;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #EE2E24;
}
.service__btn a:hover {
  background-color: #EE2E24;
  color: #fff;
}
.event {
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
}
.event h3 {
  display: inline-block;
  border-bottom: 3px solid #EE2E24;
  padding-bottom: 6px;
  text-transform: uppercase;
}
.event-slide {
  margin-top: 30px;
  margin-bottom: 30px;
}
.event__list {
  margin-top: 20px;
}
.event__btn {
  margin-top: 50px;
}
.event__btn a {
  background-color: #fff;
  font-size: 12px;
  padding: 10px 30px;
  color: #EE2E24;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #EE2E24;
}
.event__btn a:hover {
  background-color: #EE2E24;
  color: #fff;
}
.footer {
  margin-top: 90px;
  background-color: #f4f4f4;
  padding-bottom: 180px;
}
.footer__login {
  text-align: center;
}
.footer__login .footer__login-pc {
  display: none;
}
.footer__login-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer__login-social li {
  display: inline-block;
  padding: 0;
}
.footer__login-social li:nth-child(2) i,
.footer__login-social li:nth-child(3) i,
.footer__login-social li:nth-child(4) i {
  width: 40px;
  height: 40px;
  color: #fff;
  background: #F99B2A;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer__login-social li:nth-child(2) i:hover,
.footer__login-social li:nth-child(3) i:hover,
.footer__login-social li:nth-child(4) i:hover {
  background-color: #F99B2A;
  color: #fff;
}
.from-control {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
}
.from-control input {
  padding: 12.5px 20px;
  border: 1.5px solid #f4f4f4;
  border-radius: 20px;
  font-size: 12px;
  width: 200px;
  font-weight: 500;
}
.from-control button {
  background-color: #fff;
  font-size: 12px;
  padding: 10px 30px;
  color: #EE2E24;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #EE2E24;
}
.from-control button:hover {
  background-color: #EE2E24;
  color: #fff;
}
.footer__login {
  padding: 25px 20px;
  width: 90%;
  margin: auto;
  transform: translateY(-62px);
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.footer__top {
  padding: 0 10px;
  margin-bottom: 20px;
}
.footer__top p {
  font-size: 12px;
  color: #333333;
  line-height: 40px;
}
.footer__title {
  text-align: center;
  font-style: italic;
  line-height: 25px;
  margin-bottom: 15px;
  color: #EE2E24;
}
.footer__title i {
  display: block;
}
.footer__app {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}
.footer__app a {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__bottom {
  padding: 0 20px;
}
.footer__bottom li {
  display: inline-block;
  margin: 9px 0;
}
.footer__bottom li a {
  font-size: 12px;
}
.footer__bottom span {
  height: 15px;
  width: 1px;
  margin: 0 10px;
  display: inline-block;
  transform: translateY(22%);
  background: #9a9a9c;
}
.footer__license {
  margin-top: 20px;
  padding: 0 20px;
  font-size: 12px;
}
