.flex {
  display: flex;
}
.input-pc {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  background: #fff;
}
.input-tablet-mobile {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #EE2E24;
  border-radius: 20px;
  background: #fff;
}
.circle-mobile {
  position: absolute;
  top: 9px;
  right: -2px;
  background-color: #fff;
  border-radius: 26px;
  width: 14px;
  height: 14px;
}
.line-mobile {
  height: 1px;
  width: 90%;
  background-color: #F99B2A;
  margin: auto ;
}
.btn-primary {
  background-color: #fff;
  font-size: 12px;
  padding: 10px 30px;
  color: #EE2E24;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #EE2E24;
}
.btn-primary:hover {
  background-color: #EE2E24;
  color: #fff;
}
.btn-primary-pc {
  background-color: #fff;
  font-size: 14px;
  padding: 10px 30px;
  color: #EE2E24;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #EE2E24;
}
.btn-primary-pc:hover {
  background-color: #EE2E24;
  color: #fff;
}
.order {
  padding: 8px 15px;
  background-color: #F99B2A;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 20px;
  top: 0;
  right: 0;
  position: absolute;
}
.line-bottom {
  display: inline-block;
  border-bottom: 3px solid #EE2E24;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.9px;
  margin-left: 6px;
}
.line-bottom-logo {
  display: inline-block;
  border-bottom: 4px solid #F99B2A;
  padding-bottom: 6px;
  text-transform: uppercase;
}
.contact {
  position: fixed;
  z-index: 100;
  color: #ffffff;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 70px;
}
.icon-primary {
  width: 40px;
  height: 40px;
  color: #fff;
  background: #F99B2A;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.icon-primary:hover {
  background-color: #F99B2A;
  color: #fff;
}
.product {
  margin-top: 29px;
  text-align: center;
}
.product h3 {
  display: inline-block;
  border-bottom: 3px solid #EE2E24;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.9px;
  margin-left: 6px;
}
.line {
  height: 1px;
  width: 90%;
  background-color: #F99B2A;
  margin: auto ;
}
.product-new {
  margin-top: 32px;
}
.product__list-number h6 {
  font-weight: 600;
  font-size: 12px;
}
.product__list-number p {
  font-weight: 600;
  font-size: 12px;
  color: #EE2E24;
}
.product__list-new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #EE2E24;
  color: #fff;
  border: 1px solid #EE2E24;
  position: absolute;
  border-radius: 50%;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  top: 0;
  right: 0;
}
.product__list-order {
  padding: 8px 15px;
  background-color: #F99B2A;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 20px;
  top: 0;
  right: 0;
  position: absolute;
}
.product__list-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #EE2E24;
  border: 1px solid #EE2E24;
  position: absolute;
  border-radius: 50%;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  top: 0;
  right: 0;
}
.product__btn {
  margin-top: 27px;
  margin-bottom: 50px;
}
.product__btn a {
  background-color: #fff;
  font-size: 12px;
  padding: 10px 30px;
  color: #EE2E24;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #EE2E24;
}
.product__btn a:hover {
  background-color: #EE2E24;
  color: #fff;
}
.product-hot {
  margin-top: 25px;
}
.product__bottom img {
  width: 100%;
}
.swiper-slide img {
  width: 100%;
}
