@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v20/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQXME.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptwg83HX_SGhgqk2hAjQlW_mEuZ0FsSd-OvHg.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNRwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexXRWwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rowdies/v5/ptRMTieMYPNBAK219hth5O4.ttf) format('truetype');
}
.flex {
  display: flex;
}
.input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 12px;
  line-height: 20px;
  border: 0;
  border: 1px solid #fff;
  border-radius: 20px;
  background: #fff;
}
.input-pc {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 12px;
  line-height: 20px;
  border: 0;
  border: 1px solid #fff;
  border-radius: 20px;
  background: #fff;
}
.input-tablet-mobile {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 12px;
  line-height: 20px;
  border: 0;
  border: 1px solid #fff;
  border-radius: 20px;
  background: #fff;
}
.circle-mobile {
  position: absolute;
  top: 9px;
  right: -7px;
  background-color: #fff;
  border-radius: 26px;
  width: 14px;
  height: 14px;
}
.line-mobile {
  height: 1px;
  width: 90%;
  background-color: #F99B2A;
  margin: auto ;
}
.btn-primary {
  background-color: #fff;
  font-size: 12px;
  padding: 10px 30px;
  color: #EE2E24;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #F99B2A;
}
.btn-primary:hover {
  background-color: #EE2E24;
  color: #fff;
}
.order {
  padding: 8px 15px;
  background-color: #F99B2A;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 20px;
  top: 0;
  right: 0;
  position: absolute;
}
.line-bottom {
  display: inline-block;
  border-bottom: 2px solid #EE2E24;
  padding-bottom: 6px;
  text-transform: uppercase;
}
.line-bottom-logo {
  display: inline-block;
  border-bottom: 4px solid #F99B2A;
  padding-bottom: 6px;
  text-transform: uppercase;
}
.contact__phone {
  position: fixed;
  right: 20px;
  z-index: 100;
  background: #f99b2a;
  border-radius: 50%;
  color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  bottom: 80px;
}
.contact__email {
  position: fixed;
  right: 20px;
  z-index: 100;
  background: #f99b2a;
  border-radius: 50%;
  color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  bottom: 130px;
}
@media only screen and (min-width: 1024px) {
  .header__menu-bars {
    display: none !important;
  }
  .page .page__list li {
    width: 116px;
    text-align: center;
  }
  .page .page__list li p {
    font-size: 14px;
  }
  .product .product__slider .swiper-wrapper .swiper-slide img {
    width: 300px;
  }
  .product .product__btn a {
    font-size: 14px;
  }
  .event .event__slider {
    width: 80%;
    margin: auto;
  }
  .service .service__slider {
    width: 80%;
    margin: auto;
  }
  .service .line {
    display: none;
  }
  .footer .footer__login ul:nth-child(1) {
    display: none;
  }
  .footer .footer__login ul:nth-child(2) {
    display: none;
  }
  .footer .footer__login .footer__login-pc {
    display: block;
  }
  .footer .footer__login .footer__login-pc ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer__login .footer__login-pc ul li:first-child img {
    width: 130%;
  }
  .footer .footer__login .footer__login-pc ul li:nth-child(3) from {
    margin: 0;
    gap: 20px;
  }
  .footer .footer__login .footer__login-pc ul li:nth-child(3) from input {
    width: 250px;
  }
  .footer .footer__login .footer__login-pc ul li:nth-child(1) h6 {
    text-transform: uppercase;
    color: #EE2E24;
  }
  .footer .footer__login .footer__login-pc ul span {
    height: 60px;
    width: 1px;
    margin: 0 10px;
    display: inline-block;
    background: #9A9A9C;
  }
}
