@import "./mixin.less";
@import "./variables.less";
.page {
    margin-top: 20px;
}
.page__list {
    gap:19px;
    .flex;
    .flex-wrap(wrap);
    .justify-content(center);
    li {
        width: 79px;
        p {
            font-size:10px;
            text-align:center;
            font-weight: @font-weight__heavier;
            
        }
    }
    li:first-child {
        p {
            color:@primary-color;
            font-weight: @font-weight__semibold;
        }
    }
    li:last-child {
        p {
            color:@primary-color;
            font-weight: @font-weight__semibold;
        }
    }
}